<navbar-app></navbar-app>
<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">

		<div class="jumbotron">
			<h1>My Profile</h3>
		</div>
<div>Username: {{$profile.UserInfo.name}}</div>

		<div>
			<h2> Previously Booked Itineraries </h2>
			<div ng-repeat='trip in $profile.UserInfo.prevTrips'>
				<div ng-repeat='flight in trip.route'> Flight Description:
				<div>Origin: {{flight.origin}}</div>
				<div>Destination: {{flight.destination}}</div>
				<div>Flight Time: {{flight.flightTime}}</div>
				</div>

			<h5> Total Flight Time: {{trip.totalFlightTime}} </h2>

			<h5> Total Layover Time: {{trip.totalLayoverTime}}</h2>






</div>
