<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">

		<div class="jumbotron">
			<h1>My Profile</h3>
		</div>
<div>Username: {{$profile.UserInfo.name}}</div>
<div>Current City: </div>
<a href='/#/booked' ng-click='$profile.logout()'> Log out </a>
<br>
<a href='/#/booked'> View Currently Booked Flight </a>
<br>
<a href='/#/search'> Search for Flights </a>
		<div>
			<h2> Previously Booked Itineraries </h2>
			<h2> Total Flight Time </h2>
			<h2> Total Layover Time </h2>





	</div>
</div>
