<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">

		<div class="jumbotron">
			<h3>Login</h3>
		</div>

		<div>
			<form class="form-horizontal" ng-submit="$login.validate()">

				<div class="form-un">
					<label for="un" class="col-sm-2 control-label">Username: {{$login.UserInfo.username}}</label>
					<div id="un">
					<br><br><br>
						<div class = "jumbotron"  class="col-sm-8">
Username:
<input type="text" ng-model="$login.UserInfo.username" class="username" name="username"></input>
<div id="pw">
	<br><br><br>
Password:
<input type="text" ng-model="$login.UserInfo.pw" class="pw" name="pw"></input>
</div>
					</div>
				</div>

				<input type="submit" value="Submit"></input>

			</form>
		</div>

	</div>
</div>
