<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">

		<div class="jumbotron">
			<h1>Search for Flights</h1>
				<div>
					<form class="form-horizontal" ng-submit="$search.search()">

						<div class="form-un">
							<label for="un" class="col-sm-2 control-label"></label>
							<div id="un">
							<br><br><br>
								<div class = "jumbotron"  class="col-sm-8">
		From:
		<input type="text" ng-model="$search.from" class="username" name="username"></input>
		<div id="pw">
			<br><br><br>
		To:
		<input type="text" ng-model="$search.to" class="pw" name="pw"></input>
		</div>
							</div>
						</div>

						<input type="submit" value="Submit"></input>

					</form>
		</div>

</div>

<div id='searchResults'>
	<div ng-repeat='route in $search.routes' class="jumbotron">
		<div ng-repeat='flight in route'>
		<div>Origin: {{flight.origin}}</div>
		<div>Destination: {{flight.destination}}</div>
<div>Flight Time: {{flight.flightTime}}</div>
</div>
<button ng-click='$search.book(route)'>Book </button>
<br><br>
	</div>
</div>
</div>
